/* Regular element selectors */
* {
  margin: 0;
  font-family: "Overpass", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}

ul {
  list-style-type: none;
}

/* Navigation Bar */
.navbar {
  padding: 40px 150px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
}

.navbar__heading {
  font-size: 30px;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.login-signup {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.signup-button {
  padding: 10px 35px;
  border: 1px solid transparent;
  border-radius: 25px;
  color: hsl(353, 100%, 62%);
}

/* Intro Section */
.intro__image {
  position: absolute;
  top: 0;
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  image-orientation: unset;
  background-blend-mode: overlay;
  height: 700px;
  width: 100vw;
  border-bottom-left-radius: 90px;
  z-index: -1;
  overflow: hidden;
}

.intro-image {
  position: relative;
  background-position: center;
  bottom: 1750px;
  right: 600px;
  /* transform: scale(7); */
  height: 4000px;
  width: 4000px;
}

.intro__content {
  text-align: center;
  margin-top: 100px;
}

.intro__heading {
  font-size: 60px;
  font-weight: 600;
  padding: 16px;
}

.intro__subtitle {
  font-weight: 300;
}
